<h1> About </h1>

<p>
Application turns a usage of smart-phones, tablets and all nowadays trending devices into the direction of gathering data and providing useful information for recycling empty bottles and other recycling materials in order to make it easy, transparent and emphasize social value to their users.

Project application enables its users to scan barcodes of empty bottles through mobile phones or tablets, recognize it and provide a consumer with the information about materials and substances contained in a bottle, how plastic pollution affects environment as well as the nearest location of recycling point.

Users are able to participate in different promo campaigns, which are supported by distributors and manufacturers of  different kinds of products that use plastic bottles.

The application brings recognition of user participation in recycling to the most popular social platforms, such as Facebook, Twitter and etc along with creation of the virtual community with their leaders, ratings and a number of valuable achievements.

Users have an ability to collect their achievements and information about participation in different social and promo campaigns in their virtual rooms, which also have data about all scanned bottles and received score points. To get rewards or exchange the score points for valuable prizes Users need to either bring collected bottles to the nearest recycling point or if the amount of  bottles is big, they are able to put a pin on the map and the application will register a request to the facility to pick up a bunch of bottles from their location.

Along with all that, BottleHunter application is able to aggregate data of the collection and recycling empty plastic bottles into the statistical data and provide users with information about their input in overall recycling process. For instance, the application can expose the amount of fresh air which is saved by recycling empty plastic bottles.
</p>
