<h1>Bottle Hunter</h1>
<div>
  {{outlet}}
</div>
{{#if signedIn}}
  {{#link-to 'sign_out' class='btn btn-danger'}}Sign Out{{/link-to}}
{{else}}
  {{#link-to 'sign_in' class='btn btn-success'}}Sign In{{/link-to}}
{{/if}}
