<!--<div class="row">
	<div class="col-md-offset-1 col-md-10 cont text-center">
		<h1 class="max">Bottle Hunter</h1>
		<div>
		  {{outlet}}
		</div>
		{{#if signedIn}}
		  {{#link-to 'sign_out' class='btn btn-danger'}}Sign Out{{/link-to}}
		{{else}}
		  {{#link-to 'sign_in' class='btn btn-success'}}Sign In{{/link-to}}
		{{/if}}
	</div>

</div>
-->
 <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Start Bootstrap</h1>
            <h3>Free Bootstrap Themes &amp; Templates</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>