<div class="container">
  <h2>Companies</h2>
    <ul>
      {{#each}}
        <li>{{#link-to 'company' this}}{{name}}{{/link-to}}</li>
      {{/each}}
    </ul>

    {{outlet}}


    {{#view 'Bh.CompanyView'}}

    {{/view}}
</div>
